<footer>
    <div>
        ¿Quierés contactarte conmigo?
        <br>
        ¿Tenés preguntas, querés hacerme algunas propuestas, necesitás información?
        <br> 
        A continuación vas a encontrar mi información de contacto. 
        Podes enviarme un mensaje a través del formulario que se encuentra en la página. 
        <br>
        ¡Voy a estar encantada de ayudarte!        
        
        <ul>
            <li>
                <a href="/contacto">Contacto</a>
            </li> 
        </ul>
    </div>
    

    <!--Enlace ancla (volver)-->
    <a href="#volver">volver</a>
    <br>
    <br>
    copyrigth 2024 - Derechos reservados de autor.
</footer>