{% include 'defaults/head.html' %}
{% include 'defaults/head.html' %}

<body>
    <main>
        <h2>Lista de Contactos</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Fecha del Evento</th>
                <th>Mensaje</th>
                <th>Acciones</th>
            </tr>
            {% for contacto in bd-contactos %}
            <tr>
                <td>{{ contacto.id }}</td>
                <td>{{ contacto.nombre }}</td>
                <td>{{ contacto.email }}</td>
                <td>{{ contacto.telefono }}</td>
                <td>{{ contacto.fecha_evento }}</td>
                <td>{{ contacto.mensaje }}</td>
                <td>
                    <a href="{{ url_for('editar', id=contacto.id) }}">Editar</a>
                    <a href="{{ url_for('eliminar', id=contacto.id) }}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>

    {% include 'defaults/footer.html' %}

</body>