{% include 'defaults/head.html' %}
{% include 'defaults/header.html' %}

<body>
    <main class="brillos">

        <div class="separacion">
            <br>
        </div>


    <!-- Primer frase, centrada, con algunas palabras en negrita -->
    
        <div class="frase1">
            <p>A lo largo de <span class="frase1-negrita"> mi carrera,</span> he tenido <span class="frase1-negrita">el privilegio</span> de trabajar con numerosas parejas, <span class="frase1-negrita">capturando momentos inolvidables</span> en sus vidas.</p>
        </div>
    

    <!-- Tres imagenes horizontales -->

        <div class="contenedor-imagenes">
            <img src="/static/img/conoceme/anillos.jpg" alt="Anillos de boda" class="imagen-con-espacio">
            <img src="/static/img/conoceme/camara.jpg" alt="Camara de fotos" class="imagen-con-espacio">
            <img src="/static/img/conoceme/mesa4.jpg" alt="Mesa de bodas" class="imagen-con-espacio">
        </div>

        <div class="separacion">
            <br>
        </div>


    <!-- El texto centrado con foto de fotografa y nombre -->

        <br>
        <h2 class="subtitulo-conoceme">Conóceme</h2>

        <section class="contenedor-texto-imagen" >
            <div>
                <p>Desde temprana edad, mostré un gran interés por la fotografía, inspirada por la capacidad de las imágenes para contar historias emocionantes y capturar la esencia de momentos únicos en la vida de las personas.</p>
                <p>Con un enfoque en la narración visual, me esfuerzo por crear imágenes que transmitan la autenticidad y la emoción de cada momento. Mi estilo combina la elegancia clásica con toques modernos, creando un resultado final que es atemporal y emotivo.</p>
            </div>

            <img src="/static/img/conoceme/fotografa3.png" alt="fotografa">

            <h4>
                CAROLINA SILVA
                <br>
                Fotógrafa de bodas
            </h4>
            
        </section>


        <div class="separacion">
            <br>
        </div>


    <!-- Zona de preguntas frecuentes -->

        <br>
        <h2 class="subtitulo-conoceme">Preguntas Frecuentes</h2>

        <section class="contenedor-preguntas">
            <div class="texto-izquierdo">
                <p><b>¿Puedes ayudarnos a planificar la agenda de fotografía para el día de la boda?</b></p>
                <p>Totalmente. Estoy aquí para ayudar en todo lo que necesiten en relación con la fotografía de su boda. Podemos trabajar juntos para crear un cronograma personalizado que garantice que todos los momentos importantes se capturen de manera hermosa y sin problemas.</p>
            </div>

            <div class="texto-derecho">
                <p><b>¿Cuál es tu política de cancelación o reprogramación?</b></p>
                <p>Entiendo que los planes pueden cambiar, por lo que tengo una política flexible de cancelación y reprogramación. Si necesitan cambiar la fecha de su boda o cancelar sus servicios por cualquier motivo, háganmelo saber lo antes posible y haremos todo lo posible para encontrar una solución que funcione para todos.</p>
            </div>
        </section>

        <section class="contenedor-preguntas">
            <div class="texto-izquierdo">
                <p><b>¿Cómo podemos programar una sesión de compromiso o una reunión inicial contigo?</b></p>
                <p>¡Me encantaría conocerte! Pueden ponerse en contacto conmigo a través de mi formulario de contacto en el sitio web o por correo electrónico para programar una reunión inicial. También podemos organizar una sesión de compromiso para conocernos mejor y hablar sobre sus ideas y expectativas para la sesión de fotos de la boda.</p>
            </div>

            <div class="texto-derecho">
                <p><b>¿Puedes viajar para cubrir bodas fuera de la ciudad o del país?</b></p>
                <p>¡Absolutamente! Me encanta viajar y estaré encantada de acompañarlos a cualquier lugar que elijan para celebrar su amor. Solo necesitamos discutir los detalles logísticos y los posibles costos adicionales de viaje y alojamiento.</p>
            </div>
        </section>

        <section class="contenedor-preguntas">
            <div class="texto-izquierdo">
                <p><b>¿Qué sucede si llueve el día de nuestra boda?</b></p>
                <p>La lluvia puede agregar un toque único y hermoso a las fotos de la boda. Si el clima no coopera, estaré preparada para adaptarme y encontrar oportunidades creativas para capturar momentos memorables bajo cualquier circunstancia. Si es necesario, también puedo ofrecer sugerencias para opciones de ubicaciones cubiertas o para tomar fotos bajo la lluvia de manera segura y elegante.</p>
            </div>

            <div class="texto-derecho">
                <p><b>¿Ofreces paquetes personalizados o solo tienes paquetes predefinidos?</b></p>
                <p>Sí, ofrezco paquetes personalizados para adaptarme a las necesidades específicas de cada pareja. Ya sea que estén buscando cobertura completa desde los preparativos hasta la recepción, o solo necesiten servicios por unas horas, estoy aquí para crear un paquete que se ajuste a sus deseos y presupuesto.</p>
            </div>

        </section>

        <div class="separacion">
            <br>
        </div>

    </main>

    {% include 'defaults/footer.html' %}

</body>
