{% include 'defaults/head.html' %}
{% include 'defaults/header.html' %}

<body>
    <div class="titulo-contacto">
        <h1>Contacto</h1>
    </div>
    <div class="contenedor-general-contactos">

            <div class="cont-contacto">
                <div class="subtitulo-contacto"> 
                    <h2>Fotografa</h2>
                </div>
                <h3><a href="" id="whatsapp"><i class="fa-brands fa-square-whatsapp"></i></a><a href=""> +541170975959</a></h3>
                <h3><a href="" id="mail"><i class="fa-solid fa-envelope"></i></i></a><a href=""> fotografia@fotografia.com</a></h3>
                <h3><a href="" id="instagram"><i class="fa-brands fa-square-instagram"></i></a><a href=""> @Fotografia</a></h3>
                <h3><a href="" id="ubicacion"><i class="fa-solid fa-location-dot"></i></a> Balcarce 78, C1064 Cdad. Autónoma de Buenos Aires</h3>
        
                <div class="mapa">
                    <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.8443001789847!2d-58.374565074259685!3d-34.608098472952726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3352cbe276f75%3A0xe16921ef0545f86d!2sCasa%20Rosada!5e0!3m2!1ses-419!2sar!4v1715489720022!5m2!1ses-419!2sar" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <section>

                <div id="formulario">
                    <form action="mailto:fotografias@fotografias.com">
                        <br>
                        <div>
                            <label for="nombre">Nombre
                            <br><input type="text" name="nombre" required>
                        </label>
                        </div>
                        <div>
                            <label for="mail">Mail <br><input type="text"></label>
                            
                        </div>
                        <div>
                            <label for="Telefono">Telefono <br><input type="text" required></label>
                            
                        </div>
            
                        <div>
                            <label for="fecha">Fecha del evento (mm/dd/yyyy) <br><input type="date"></label>
                            
                        </div>
                        
                        <div>
                            <label for="mensaje">Mensaje <br>
                                <textarea name="mensaje" id="" maxlength="1500" minlength="50" cols="30" rows="10"></textarea></label>
                            
                        </div>
                        <div>
                            <button>Enviar</button>
                        </div>
                
                    </form>   
                </div>
            </section>
    </div>


    <div class="separacion">
        <br>
    </div>

    <section class="seccion-imagenes">
        <h2 style="color:rgb(0, 0, 0)">Contactos registrados:</h2>
        <div style="color: rgb(0, 0, 0);">
            <h3>
                {%for i in contacto%}
                <br> Nombre: {{i[1]}} / <br> Mail: {{i[2]}} /<br> Teléfono: {{i[3]}} / <br> Fecha de evento: {{i [4]}}  
                <hr>
                {%endfor%}
            </h3>
        </div>
    </section>

    <div class="separacion">
        <br>
    </div>

    {% include 'defaults/footer.html' %}

    
</body>