{% include 'defaults/head.html' %}
{% include 'defaults/header.html' %}

<main class="brillos">

    <div class="separacion">
        <br>
    </div>

    
    <section class="seccion1" >
        <img src="/static/img/index/fotografainicio.png" alt="fotografa inicio">
        <p>
            "La fotografía de Boda es mucho más, es arte, es sentimiento, es pasión y tu boda es un momento
            único en tu vida, irrepetible ,yo me ofresco a traerles un reportaje de bodas lleno de naturalidad, sentimiento y
            emoción, plasmando la ilusión de un día tan importante en imágenes."
        </p>
        <h4>
            CAROLINA SILVA
            <br>
            Fotógrafa de bodas
        </h4>
        
    </section>
    
    <div class="separacion">
        <br>
    </div>

    <section class="presentacion">  

        <p>
            “Cada pareja es un mundo, con sus gustos, personalidades, estilos y formas de relacionarse,
            por eso quiero que se sientan libres de ser quienes son y poder capturar su esencia a través de las
            fotografías de su matrimonio.”
            <br>
            "Los invito a ver algunos de los momentos que quedaron en el recuerdo de cada una de estas personas..." 
            
        </p>

        <video controls
            src="/static/img/index/video bodas inicio.mp4">
        </video>

    </section>


    <div class="separacion">
        <br>
    </div>
    
    <section class="seccion-imagenes">

        <h2>Testimonios</h2>


        <div>
            <img  src="/static/img/index/imagen1testimonios.jpg" alt="imagen 1 - Testimonios">
            <h3>- VICTORIA Y SANTIAGO -</h3>
            <h4>SEPTIEMBRE 20, 2018</h4>
            <br>
            <p>
            "El trabajo de Carolina fue excepcional desde todo punto de vista: 
            fue un placer en la previa, y durante la fiesta. 
            <br>
            Entendió a la perfección que era importante para nosotros y lo respeto en la entrega. 
            Cumplió con todos los tiempos comprometidos y con un material muy hermoso que guardamos como recuerdo de nuestro día más importante. 
            <br>
            Tanto nosotros como los invitados la sentimos como un invitado más de la fiesta. Le puso toda la onda. 
            La super recomendamos no solo por el excelente trabajo que entrega sino por lo maravilloso que es su trato y su energía."
            </p>
        </div>
    
        <div>
            <img src="/static/img/index/imagen2testimonios.jpg" alt="imagen 2 - Testimonios">
            <h3> - VALENTINA Y NICOLÁS - </h3>
            <h4>MARZO 19, 2022</h4>
            <br>
            <p>
                "Desde que iniciamos la planeación de nuestra boda sabíamos que las fotos y el video eran una prioridad. 
                Es lo que siempre vamos a tener para recordar el mejor día de nuestra vida y lo que algún día vamos a poder compartir con nuestros hijos. 
                <br>
                Desde que hable con Carolina por primera vez me di cuenta de que ella era la indicada. Siempre fue súper profesional, linda, y nos hizo sentir cómodos para poder soltarnos y tomar las mejores fotos. 
                Al ver el resultado final te das cuenta de que tienen el mejor ojo y su edición es súper románica y de ensueño. 
                Gracias CARO por capturar la magia de un día tan especial."
            </p>
        </div>

        <div>
            <img src="/static/img/index/imagen3testimonios.jpg" alt="imagen 3 - Testimonios">
            <h3> - GASTÓN Y CAROLINA - </h3>
            <h4>DICIEMBRE 5, 2015 </h4>
            <br>
            <p>
            "Graciassss Carolinaaa !!!
            <br>
            Estoy muy feliz de haberte elegido para que retrates uno de los momentos más importantes de nuestras vidas !!! 
            Sin dudas, el ojo que tenés es tan maravilloso que logras que esas fotos transmitan la felicidad que sentíamos! 😁😁❤️ 
            Mil gracias por tu bello trabajo." 
            </p>
        </div>

        <div>
            <img src="/static/img/index/imagen4testimonios.avif" alt="imagen 4 - Testimonios">
            <h3> - GUIDO Y LAURA - </h3>
            <h4>ENERO 4, 2024</h4>
            <br>
            <p>
                "Caro supo capturar todos los momentos de la noche y todas las emociones que se sintieron.
                <br>
                Muy profesional, amena y talentosa…
                <br>
                Muy recomendable!!"
            </p>
        </div>
    </section>

    <div class="separacion">
        <br>
    </div>

    <section class="despedida"> 
        "Para todos aquellos que han confiado en mí, a sido un verdadero honor y placer capturar cada momento especial de su gran día. 
        Gracias por hacerme parte de estos hermosos recuerdos que quedaran grabados en sus fotografías, por sus sonrisas y energía, que han hecho de estas fotos un recuerdo imborrable. 
        <br>
         Les deseo una vida llena de amor y felicidad. 
        <br>
        ¡Hasta la próxima!"
    </section>

    <div class="separacion">
        <br>
    </div>

    {% include 'defaults/footer.html' %}

</main>
